In [1]:
%matplotlib inline
import csv
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
median_sales = "median_house.csv"

In [5]:
median_pd = pd.read_csv(median_sales, encoding="ISO-8859-1")
median_pd.head()

,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08
0,Los Angeles County,CA,Los Angeles-Long Beach-Anaheim,6,37,1,399000.0,389000.0,398919.0,398800.0,...,659000.0,649999.0,649900.0,650000.0,665000.0,675000.0,679000.0,689000.0,695000.0,689000.0
1,Cook County,IL,Chicago-Naperville-Elgin,17,31,2,244900.0,249000.0,249000.0,249000.0,...,281265.0,278500.0,280000.0,289900.0,299000.0,300000.0,300000.0,299900.0,299000.0,292600.5
2,Harris County,TX,Houston-The Woodlands-Sugar Land,48,201,3,149900.0,152866.0,154755.0,154900.0,...,278995.0,275000.0,276955.0,278990.0,279900.0,285000.0,283130.0,280000.0,278495.0,274995.0
3,Maricopa County,AZ,Phoenix-Mesa-Scottsdale,4,13,4,179900.0,175900.0,174900.0,169900.0,...,308900.0,308598.5,310000.0,310000.0,315000.0,318500.0,318990.0,319900.0,316990.0,315000.0
4,San Diego County,CA,San Diego-Carlsbad,6,73,5,399000.0,399000.0,399500.0,399990.0,...,635000.0,635000.0,635000.0,639000.0,642700.0,650000.0,659000.0,655000.0,649900.0,650000.0

In [9]:
Median_pd = median_pd.loc[median_pd['State'] == 'CO',:]
Median_pd.head()

,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08
98,El Paso County,CO,Colorado Springs,8,41,99,229900.0,229000.0,226000.0,229488.5,...,336000.0,333500.0,339900.0,349000.0,355000.0,359900.0,361800.0,365000.0,367380.0,369400.0
105,Denver County,CO,Denver-Aurora-Lakewood,8,31,106,259000.0,259900.0,259900.0,259900.0,...,469000.0,462500.0,472500.0,475000.0,485000.0,490000.0,495000.0,494900.0,489500.0,475500.0
108,Arapahoe County,CO,Denver-Aurora-Lakewood,8,5,109,219900.0,219900.0,217500.0,219900.0,...,395527.5,399500.0,400000.0,401128.0,405000.0,410000.0,410000.0,410000.0,405000.0,399900.0
118,Jefferson County,CO,Denver-Aurora-Lakewood,8,59,119,269500.0,265000.0,265000.0,264000.0,...,450000.0,459974.5,454900.0,459900.0,468400.0,470000.0,475000.0,475000.0,472900.0,462000.0
147,Adams County,CO,Denver-Aurora-Lakewood,8,1,148,185000.0,185000.0,185250.0,185900.0,...,374900.0,375000.0,379900.0,375000.0,379900.0,380000.0,380000.0,379000.0,377000.0,375000.0

In [10]:
Median_county_pd = median_pd.loc[median_pd['RegionName'] == 'Denver County',:]
Median_county_pd.head()

,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08
105,Denver County,CO,Denver-Aurora-Lakewood,8,31,106,259000.0,259900.0,259900.0,259900.0,...,469000.0,462500.0,472500.0,475000.0,485000.0,490000.0,495000.0,494900.0,489500.0,475500.0

In [66]:
region_10 = Median_county_pd[['2010-01','2010-02','2010-03', '2010-04', '2010-05', '2010-06', '2010-07','2010-08', '2010-09', '2010-10', "2010-11", "2010-12"]]

co_median_10 = region_10.mean(axis=1)
co_median_10

df1 = co_median_10.to_frame(name='House Value')
df1
df1['Year'] = 2010
df1['County'] = 'Denver'
df1
df4 = df1.astype({"House Value": "int"})
df4

     House Value  Year  County
105       258891  2010  Denver

In [63]:
region_18 = Median_county_pd[['2018-01','2018-02','2018-03', '2018-04', '2018-05', '2018-06', '2018-07','2018-08', '2018-09', '2018-10', "2018-11", "2018-12"]]

co_median_18 = region_18.mean(axis=1)
co_median_18

df2 = co_median_18.to_frame(name='House Value')
df2
df2['Year'] = 2018
df2['County'] = 'Denver'
df2

df3 = df2.astype({"House Value": "int"})
df3

     House Value  Year  County
105       477920  2018  Denver

In [68]:
median_df = pd.concat([df4, df3], ignore_index=True)
median_df

   House Value  Year  County
0       258891  2010  Denver
1       477920  2018  Denver

In [51]:
median_eagle_pd = median_pd.loc[median_pd['RegionName'] == 'Eagle County',:]
median_eagle_pd.head()

,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-01,2010-02,2010-03,2010-04,...,2018-11,2018-12,2019-01,2019-02,2019-03,2019-04,2019-05,2019-06,2019-07,2019-08
948,Eagle County,CO,Edwards,8,37,949,NaN,NaN,NaN,NaN,...,1250000.0,1299000.0,1349000.0,1350000.0,1297000.0,1265500.0,1210000.0,1235000.0,1250000.0,1250000.0

In [67]:
region_10 = median_eagle_pd[['2018-01','2018-02','2018-03', '2018-04', '2018-05', '2018-06', '2018-07','2018-08', '2018-09', '2018-10', "2018-11", "2018-12"]]

co_median_10 = region_10.mean(axis=1)
co_median_10

df1 = co_median_10.to_frame(name='House Value')
df1
df1['Year'] = 2018
df1['County'] = "Eagle County"
df1

     House Value  Year        County
948    1220500.0  2018  Eagle County